.DS_Store
.idea
*.vcd
*.fst
*.fst.hier
runs
tt_submission
src/user_config.json
src/config_merged.json
test/sim_build
test/__pycache__/
test/results.xml
test/gate_level_netlist.v
.vivado-link/backups/before-inspection-aadb7d3d7ccf4627b3c89ebef983d0ae/JaneStreet_Protocol_Emulator.xpr
